.infoBarbeiro{
    width: 900px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: white;
    border-radius: 20px;

}


.iconBarbeiro{
    width: 500px;
    height: 200px;
    padding-top: 50px;
    padding-block: 20px;
}
.text{
    color: rgb(26, 33, 49) ;
}
.icon{
      color: rgb(26, 33, 49) ;
      display: flex;
      justify-content: center;
      cursor: pointer;
}
.iconLixo{
      color: red;
      display: flex;
      justify-content: center;
      cursor: pointer;
}
.corte{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
.divisor{
    width: 100%;
    height: 10px;
    background-color: rgb(26, 33, 49) ;
}
.botaoAgenda{
  width: 150px;
  height: 30px;
  margin-top: 20px;
  color: white;
  background-color:  rgb(26, 33, 49);
  border-radius: 10px;
  font-family: "Playfair Display";
  cursor: pointer;
}
.iconsDiv{
    display: flex;
    justify-items: center;
    flex-direction: row;
    gap: 20px;
}
.TituloAgenda{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding-top: 200px;
}
.formAgenda{
    display:flex;
    flex-direction: column;
    align-items: center;
 
}
